header {
  /* width: 1440px; */
  /* height: 40px; */
  width: 100%;
  height: fit-content;
  padding: 10px;
  text-align: center;
  background: #2aa7ff;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* hero-section */
.hero-section {
  /* width: 1440px; */
  height: 832px;
  background: linear-gradient(
    81deg,
    #e7f0ff 9.01%,
    rgba(232, 241, 255, 0.47) 89.11%
  );
  position: relative;
  top: -96px;
  z-index: -3;
  padding-top: 96px;

  display: flex;
}

.hero-tag {
  display: flex;
  flex-direction: column;
  padding-top: 140px;
  padding-left: 135px;
}

@media (max-width: 1327px) {
  .hero-section {
    height: 800px;
  }

  .hero-tag {
    padding-top: 100px;
    padding-left: 90px;
  }

  .hero-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .hero-img img {
    width: 500px;
  }
}

@media (max-width: 1125px) {
  .hero-section {
    height: 950px;
  }

  .hero-tag {
    flex: 0.75;
    padding-top: 100px;
    padding-left: 90px;
  }

  .hero-img {
    flex: 1;
    display: flex;
  }
  .hero-img img {
    width: 500px;
  }
}

@media (max-width: 777px) {
  .hero-section {
    height: 1000px;
    flex-direction: column;
  }

  .hero-tag {
    flex: 0.75;
    padding-top: 0px;
    padding-left: 0px;
    padding: 30px;
    align-items: center;
    text-align: center;
  }

  .hero-img {
    flex: 1;
    display: flex;
    align-items: center;
  }
  .hero-img img {
    width: 500px;
  }
}

@media (max-width: 425px) {
  .hero-img img {
    width: 300px;
    position: absolute;
    top: 550px;
  }
}

@media (max-width: 320px) {
  .hero-img img {
    width: 300px;
    position: absolute;
    top: 600px;
  }
}

@media (max-width: 290px) {
  .hero-img img {
    width: 300px;
    position: absolute;
    top: 700px;
  }
}

.hero-tag .title p {
  font-size: 31px;
  font-weight: 500;
  color: #102851;
  line-height: 55px;
  margin-bottom: 8px;
}

.hero-tag .title span {
  font-size: 56px;
  font-weight: 700;
}

.hero-tag span:nth-child(2) {
  color: #2aa8ff;
}

.hero-tag .subtitle {
  /* width: 570px; */
  font-size: 20px;
  font-weight: 400;
  color: #5c6169;
  margin-bottom: 32px;
}

.hero-tag button {
  width: 177px;
  height: 48px;
  padding: 12px 36px 12px 36px;
  border-radius: 8px;
  background: #2aa8ff;
  border: none;
  color: #ffffff;
}

/* search-section */
.search-section {
  width: 1170px;
  height: 429px;
  border-radius: 15px;
  background-color: #ffffff;
  box-shadow: 6px 6px 35px 0px #1028511c;

  position: relative;
  top: -380px;
  left: 140px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1319px) {
  .search-section {
    width: 1000px;
  }
}

@media (max-width: 1142px) {
  .search-section {
    width: 800px;
    height: 600px;
  }
}

@media (max-width: 956px) {
  .search-section {
    top: -400px;
    width: 600px;
    height: fit-content;
    padding: 40px;
  }
}

@media (max-width: 745px) {
  .search-section {
    top: -250px;
    width: 400px;
    height: fit-content;
    padding: 40px;
    gap: 20px;
  }
}

@media (max-width: 536px) {
  .search-section {
    top: -200px;
    left: 30px;
    width: 400px;
    height: fit-content;
    padding: 40px;
    gap: 20px;
  }
}

@media (max-width: 424px) {
  .search-section {
    top: -300px;
    left: 30px;
    width: 300px;
    height: fit-content;
    padding: 40px;
    gap: 20px;
  }
}

@media (max-width: 320px) {
  .search-section {
    top: -250px;
    left: 30px;
    width: 200px;
    height: fit-content;
    padding: 10px;
    gap: 20px;
  }
}

@media (max-width: 290px) {
  .search-section {
    top: -150px;
    left: 30px;
    width: 200px;
    height: fit-content;
    padding: 10px;
    gap: 20px;
  }
}

/* .fixed-main-section */
.fixed-main-section {
  /* width: 100%; */
  /* width: 1449px; */
  position: relative;
  top: -368px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ad-carousel */
.ad-carousel {
  /* width: 1449px; */
  /* width: 1300px; */
  width: 100%;
  /* height: 350px; */
  padding: 40px;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 745px) {
  .ad-carousel {
    margin-top: 100px;
  }
}

@media (max-width: 536px) {
  .ad-carousel {
    margin-top: 170px;
    padding: 20px;
  }
}

@media (max-width: 424px) {
  .ad-carousel {
    margin-top: 70px;
  }
}

@media (max-width: 321px) {
  .ad-carousel {
    margin-top: 120px;
  }
}

@media (max-width: 290px) {
  .ad-carousel {
    margin-top: 220px;
  }
}

.ad-carousel .swiper-pagination {
  margin-top: 28px;
  position: relative !important;
}

/* find-section  */
.find-section {
  width: 100%;
  /* width: 1449px; */
  height: fit-content;
  padding: 40px;
  /* height: 729px; */
  background: linear-gradient(
    81deg,
    #e7f0ff 9.01%,
    rgba(232, 241, 255, 0.47) 89.11%
  );

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  justify-content: center;
}

.find-section p {
  font-size: 48px;
  font-weight: 600;
  color: #1b3c74;
  text-align: center;
}

.find-section .buttons-group {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.find-section .buttons-group div {
  width: 270px;
  height: 180px;
  border-radius: 10px;
  background: #ffffff;
  box-shadow: 0px 34px 44px 0px #d5dbe470;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.find-section .buttons-group div span {
  text-align: center;
}

@media (max-width: 654px) {
  .find-section .buttons-group div {
    width: 200px;
  }
}

.find-section .buttons-group div img {
  width: 80px;
  height: 80px;
}

@media (max-width: 514px) {
  .find-section .buttons-group div {
    width: 150px;
    height: 150px;
  }

  .find-section .buttons-group div img {
    width: 50px;
    height: 50px;
  }
}

@media (max-width: 414px) {
  .find-section p {
    font-size: 20px;
  }
  .find-section .buttons-group div {
    width: 100px;
    height: 100px;
    gap: 0px;
  }

  .find-section .buttons-group div img {
    width: 30px;
    height: 30px;
  }
}

.find-section .buttons-group div span {
  font-size: 18px;
  font-weight: 500;
  color: #abb6c7;
}

.find-section button {
  width: 147px;
  height: 50px;
  border-radius: 8px;
  background: #2aa8ff;
  font-size: 16px;
  font-weight: 500;
  color: white;
  border: none;
}

/* specialist-carousel */
.specialist-carousel {
  width: 100%;
  /* width: 1442px; */
  /* height: 819px; */
  height: fit-content;
  padding-top: 10vw;
  padding-bottom: 10vw;

  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.specialist-carousel .title {
  font-size: 48px;
  font-weight: 600;
  color: #1b3c74;
  margin-bottom: 70px;
}

.specialist-carousel .swiper p {
  position: relative;
  top: 0px;
  font-size: 24px;
  font-weight: 400;
  color: #1b3c74;
}

.specialist-carousel .swiper span {
  font-size: 16px;
  font-weight: 500;
  color: #2aa7ff;
}
.specialist-carousel .swiper img {
  margin-bottom: 14.5px;
  box-shadow: 0px 15px 55px -10px #00000017;
}

.specialist-carousel .swiper-pagination {
  margin-top: 33px;
  position: relative !important;
}

/* services-section */
.services-section {
  width: 100%;
  /* width: 1449px; */
  /* height: 598px; */
  height: fit-content;
  padding: 40px;
  background: linear-gradient(
    81deg,
    #e7f0ff 9.01%,
    rgba(232, 241, 255, 0.47) 89.11%
  );

  display: flex;
  gap: 71px;
  justify-content: center;
  align-items: center;
}

.services-section > img {
  width: 700px;
}
@media (max-width: 1024px) {
  .services-section > img {
    width: 400px;
  }
}

.services-section .content {
  width: 50%;
  /* width: 563px; */
}

@media (max-width: 768px) {
  .services-section {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .services-section > img {
    width: 400px;
  }

  .services-section .content {
    width: 80%;
  }
}

.services-section .tag-line {
  font-size: 16px;
  font-weight: 600;
  color: #2aa7ff;
}

.services-section .title {
  font-size: 48px;
  font-weight: 600;
}

.services-section .title span:nth-child(1) {
  color: #1b3c74;
}

.services-section .title span:nth-child(2) {
  color: #2aa7ff;
}

.services-section .description {
  color: #77829d;
  font-size: 17px;
  font-weight: 500;
  margin-top: 20px;
  margin-bottom: 30px;
}

.services-section .services {
  font-size: 18px;
  font-weight: 500;
  color: #1b3c74;
}

.services-section .services p {
  display: flex;
  margin-bottom: 27px;
}

.services-section .services img {
  margin-right: 10px;
}

/* news-section */
.news-section {
  width: 100%;
  /* width: 1140px; */
  /* height: 677.77px; */
  height: fit-content;
  padding-top: 8vw;
  padding-bottom: 8vw;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.news-section > .title {
  font-size: 48px;
  font-weight: 600;
  color: #1b3c74;
  margin-bottom: 34px;
}

.news-section .content {
  display: flex;
  gap: 24px;
}

.news-section .card {
  border: 1px solid #00000012;
}

.news-section .card > div {
  padding: 18px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.news-section .card .header {
  font-size: 17px;
  font-weight: 500;
  color: #77829d;
}

.news-section .card .title {
  font-size: 18px;
  font-weight: 500;
  color: #1b3c74;
}

.news-section .card .profile-name {
  font-size: 17px;
  font-weight: 500;
  color: #1b3c74;

  display: flex;
  gap: 10px;
}

/* social-proof-section */
.social-proof-section {
  width: 100%;
  height: fit-content;
  /* width: 1449px;
  height: 789px; */
  background: linear-gradient(
    81deg,
    #e7f0ff 9.01%,
    rgba(232, 241, 255, 0.47) 89.11%
  );

  display: flex;
  gap: 25px;
  justify-content: space-between;
  align-items: center;
  padding-top: 5vw;
  padding-bottom: 5vw;
  padding-left: 2vw;
  padding-right: 2vw;
}


.social-proof-section .content {
  padding: 44px;
  width: 60%;
  /* width: 575px;
  height: 714px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.social-proof-section .tag-line {
  font-size: 17px;
  font-weight: 600;
  color: #2aa7ff;
}

.social-proof-section .title {
  font-size: 48px;
  font-weight: 600;
  color: #1b3c74;
  margin-bottom: 20px;
}

.social-proof-section .description {
  font-size: 17px;
  font-weight: 500;
  color: #77829d;
  width: 100%;
  /* width: 531.17px; */
}

.social-proof-section img {
  width: 40%;
  /* width: 585px; */
  /* height: 714px; */
}


@media (max-width: 768px) {
  .social-proof-section {
    flex-direction: column;
  }

  .social-proof-section .content {
    width: 100%;
  }

  .social-proof-section img{
    width: 70%;
  }
}

/* action-section */
.action-section {
  /* width: 1440px; */
  height: 542px;
}

/* footer */
.footer {
  /* width: 1440px; */
  height: 424px;
  padding-top: 81px;
  padding-left: 172px;
  padding-right: 172px;
  background: #1b3c74;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer .content {
  display: flex;
  justify-content: space-between;
}

.footer .content .socials {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer .content .socials > div {
  display: flex;
  gap: 16px;
}

.footer .content .socials > img {
  width: 126.77px;
  height: 36px;
}

.footer .content .links {
  display: flex;
  flex-direction: column;

  gap: 20px;
}
.footer .content .links p {
  display: flex;
  gap: 14px;
  color: white;
}

.footer .copyright {
  padding-top: 30.5px;
  padding-bottom: 30.5px;
  color: white;
  font-size: 16px;
  font-weight: 400;
  border-top: 1px solid #ffffff1a;
}
