.MyBookings {
  width: 1440px;
  background: linear-gradient(
    81deg,
    #eff5fe 9.01%,
    rgba(241, 247, 255, 0.47) 89.11%
  );
}

.MyBookings .blue-part {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.MyBookings .blue-part span {
  color: white;
  font-size: 40px;
  font-weight: 700;
}

.booking-search-section {
  width: 780px;
  height: 104px;
  border-radius: 15px;
  position: relative;
  top: 40px;
  box-shadow: 6px 6px 35px 0px #1028511c;
  background-color: white;

  padding: 24px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}

.booking-search-section select {
  font-size: 14px;
  font-weight: 400;
  color: #abb6c7;

  border: 1px solid #f0f0f0;
  padding: 15px;
  background: #fafbfe;
  border-radius: 8px;
  outline: none;

  flex: 1;
}

.booking-search-section button {
  width: 177px;
  height: 50px;
  border-radius: 8px;
  background-color: #2aa8ff;
  border: none;

  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  gap: 6px;
}

.MyBookings .card {
  width: 786px;
  height: 268.38px;
  border-radius: 15px;
  margin-top: 25px;

  display: flex;
  justify-content: space-between;
  padding: 30px;
  background-color: white;
}

.MyBookings .action {
  display: flex;
  justify-content: start !important;
  flex-direction: row !important;
  align-items: baseline !important;
  gap: 14px;
  margin-top: 24px;
}

.MyBookings .time {
  width: 84px;
  height: 31.59px;
  border-radius: 3px;
  border: 1px solid #2aa7ff;

  font-size: 14px;
  font-weight: 400;
  color: #2aa7ff;
}

.MyBookings .date {
  width: 128px;
  height: 32px;
  border-radius: 3px;
  border: 1px solid #00a500;

  font-size: 14px;
  font-weight: 700;
  color: #00a500;
}

.MyBookings .time,
.MyBookings .date {
  display: flex;
  align-items: center;
  justify-content: center;
}
